all_images/*
figs/*
datasets/images/*
datasets/labels/*
runs/*
venv/*
videos/*
yolov5/
.DS_Store
.idea/
*.ndjson
yolov5m.pt
yolov8m.pt
yolov8n.pt
credentials.json
global_keys.json
dataset_1.zip
__pycache__/
!runs/detect/train7/
